.title {
  font-family: "Allura";
  font-size: 2rem;
  color: gold;
}
.ngx-aside-wrapper {
  background: linear-gradient(to bottom, rgb(0, 0, 155), #000311);
  color: #fff;
}
.content-page {
  padding: 1rem;
}
.content-page h1 {
  margin-bottom: 3rem;
  text-align: center;
  font-family: "Allura";
  font-size: 3rem;
}
.content-page button.add-star {
  border: none;
  color: #fff;
  background: #000;
  border-radius: 0.3rem;
  cursor: pointer;
}
.add-star-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}
.add-star a {
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  background: linear-gradient(to bottom, rgb(0, 0, 155), #000311);
}
.add-star svg {
  fill: gold;
  height: 16px;
  width: 16px;
}
.toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}
.toggle-container button {
  padding: 0.4rem 1rem;
  border: none;
  background: linear-gradient(to right, rgb(0, 0, 155), #000311);
  cursor: pointer;
  color: #fff;
  z-index: 1000;
}
.responsive p {
  height: 200px;
}
