<ngx-aside-container>
  <ngx-aside>
    <h3 class="title" ngxTitle>ngx-aside-ease</h3>
    <div ngxCategory (click)="onItemClick('ngx-aside-ease')">
      <p>general</p>
      <i class="fa-regular fa-bookmark"></i>
    </div>
    <div ngxCategory (click)="onItemClick('preferences')">
      <p>preferences</p>
      <i class="fa-regular fa-user"></i>
    </div>
    <div ngxCategory (click)="onItemClick('performant')">
      <p>performant</p>
      <i class="fa-solid fa-angles-right"></i>
    </div>
    <div ngxCategory [defaultActive]="true" (click)="onItemClick('responsive')">
      <p>responsive</p>
      <i class="fa-solid fa-table-columns"></i>
    </div>
    <div ngxCategory (click)="onItemClick('controlable')">
      <p>controlable</p>
      <i class="fa-solid fa-expand"></i>
    </div>
  </ngx-aside>

  <section class="content-page">
    <h1>ngx-aside-ease</h1>

    @switch (view) { @case ('ngx-aside-ease') {
    <div class="ngx-aside-ease">
      <p class="presentation">
        This library offers a lightweight, performant, and responsive aside,
        while leaving the styling control to the user. This library multiple
        options and offers a good user experience.
      </p>
      <div class="add-star-container">
        <button class="add-star">
          <a
            href="https://github.com/GreenFlag31/aside-library"
            target="_blank"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="24 0 528 512">
              <path
                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
              />
            </svg>
            Add a star
          </a>
        </button>
      </div>
    </div>
    } @case ('preferences') {
    <div class="preferences">
      <p>
        User preferences are kept and stored in localStorage. Resize the aside
        panel and reload the page to see effects.
      </p>
    </div>
    } @case ('performant') {
    <div class="performant">
      <p>
        Lighweight library, defaulted to ChangeDetection.onPush. DRY patterns
        are followed. Resize event adding responsiveness is debounced. Implement
        an aside panel in your application in no time!
      </p>
    </div>
    } @case ('responsive') {
    <div class="responsive">
      <p>
        This library is responsive, at the breakpoint you want. Resize the
        window to see effects. The AsideService offers a method to toggle the
        aside panel visibility, partially or totally. <br />
        Calling this method will either trigger a partial or full width panel,
        depending on the breakpoint set.
      </p>
      <div class="toggle-container">
        <button (click)="onVisibilityToggle()">Toggle</button>
      </div>
    </div>
    } @case ('controlable') {
    <div class="controlable">
      <p>
        Users have full control on aside panel visibility. Control a total
        show/hide, enable resize through touch and mouse control, or click on
        the resize arrow.
      </p>
      <p>
        Don't hesitate to override the default styles classes (inspect the DOM
        to find the corresponding classes) with your creativity. Classes have
        been prefixed with 'ngx-*'. Set view encapsulation to 'none' in your
        hosting component.
      </p>
    </div>
    } }
  </section>
</ngx-aside-container>
